#game td {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 55, 149);
    border-radius: 50%;
}

#game td.gamer1 {
    background: rgb(0, 255, 251);
}

#game td.gamer2 {
    background: rgb(12, 126, 117);
}

#game td.winner {
    border: 1px solid rgb(255, 44, 86);
}