@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    /* Убираем отступы по умолчанию */
}

#main {
    /* overflow: hidden; */
    height: 100%;
    display: grid;
    grid-template-columns: 16% 42% 42%;
    grid-template-rows: 10% auto 18.75% auto 18.75% 15%;
    grid-template-areas:
        "header header header"
        "nav kontent1_1 kontent1_2"
        "nav kontent2 kontent2"
        "pod_nav kontent2_1 kontent2_2"
        "pod_nav kontent4 kontent4"
        "footer footer footer";
}

header {
    grid-area: header;
    background: rgb(89, 2, 32);
    color: #f9f9f9;
}

nav {
    grid-area: nav;
    background: rgb(240, 198, 152);
}

#pod_nav {
    grid-area: pod_nav;
    background: rgb(224, 153, 99);
}

#kontent1_1 {
    grid-area: kontent1_1;
    background: rgb(42, 1, 13);
    color: #000000;
}

#kontent1_2 {
    grid-area: kontent1_2;
    background: #db7f5b;
    color: #ffffff;
}

#kontent2 {
    grid-area: kontent2;
    background: rgb(255, 255, 255);
}

#kontent2_1 {
    grid-area: kontent2_1;
    background: rgb(42, 1, 13);
    color: #db5b5b;
    /* display: flex; */
}
#num2{
    color: #ffffff;
}

#kontent2_2 {
    grid-area: kontent2_2;
    background: #db7f5b;
}

#kontent4 {
    grid-area: kontent4;
    background: rgb(255, 255, 255);
}

footer {
    grid-area: footer;
    background: rgb(89, 2, 32);
    color: #f9f9f9;
}

/* Общие отступы для всех элементов */
header,
footer,
nav,
#pod_nav,
#kontent1_1,
#kontent1_2,
#kontent2,
#kontent2_1,
#kontent2_2,
#kontent4 {
    padding: 1vw;
    overflow-wrap: break-word;
    /* Перенос слов при необходимости */
    word-wrap: break-word;
    /* Поддержка старых браузеров */
    hyphens: auto;
    /* Гипенизация для переноса слов */
}



.forma {
    background-color: #ffffff;
    width: 70%;
    /* width: 470px; */
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgb(173, 173, 173);
    /* display: grid; */
    display: flex;
    flex-direction: column;

}

.title_form {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 140%;
    text-align: left;
    color: rgb(0, 0, 0);

}

.text1 {
    font-family: sans-serif;
    font-size: 110%;
    color: rgb(41, 40, 40);
    padding-top: 3%;
    padding-bottom: 5%;
}

.pole_text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: -2%;
}

.name_inp {
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    font-size: 90%;
    font-family: sans-serif;
    padding: 2%;
    width: 96%;
    height: 10%;
}

.email_inp {
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    font-size: 90%;
    font-family: sans-serif;
    padding: 2%;

    width: 96%;
    height: 10%;
}

.soob_inp {
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);

    font-family: sans-serif;
    font-size: 90%;
    width: 96%;
    height: 10vh;
    padding: 2%;
    /* margin-top: 10%; */
}

.btn_file {
    background-color: rgb(55, 174, 96);
    border: 1px solid rgb(53, 149, 75);
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 31%;
    height: 5%;

    margin-top: 4.5%;
    margin-bottom: 5%;


}

.plas {
    font-weight: bold;
    font-size: 150%;
    margin-right: 3%;
}

.bloc_robo {
    background-color: rgb(247, 247, 247);
    width: 65%;
    height: 20%;
    padding-bottom: 2%;
    border-radius: 3px;
    border: 1px solid rgb(173, 173, 173);

    display: grid;

    grid-template-columns: 45% 55%;
    grid-template-rows: 55% 15% 15%;
    column-gap: 0%;
    row-gap: 7%;
    grid-template-areas:
        "ro1 ro2"
        "ro1 ro3"
        "ro1 ro4";

    /* place-items: center; */

    position: relative;
}

#robo {

    width: 1.5vw;
    height: 1.5vw;
    margin-left: 0%;
    margin-top: 40%;
    grid-area: ch1;

}

.ch2 {
    grid-area: ch2;
    margin-top: 20%;
    width: 150%;
    margin-left: -8%;

}

.text_robo {
    /* background-color: #db5b5b; */
    grid-area: ro1;
    margin-top: -3%;
    margin-left: -10%;

    font-family: sans-serif;

    font-size: 0.7vw;
    text-align: center;
    color: rgb(0, 0, 0);

    display: grid;
    column-gap: 0%;
    grid-template-areas:
        "ch1 ch2";
    align-items: center;
    justify-content: center;

}

.styled-image {
    grid-area: ro2;

    width: 20%;
    height: 100%;

    margin-left: 66%;
    margin-top: 5%;

}

.reC {

    grid-area: ro3;

    font-family: sans-serif;
    /* margin-left: 60%; */
    top: 80%;
    font-size: 0.6vw;
    text-align: center;
    color: rgb(143, 143, 143);

    position: absolute;
    right: 7%;
}

.konf {

    grid-area: ro4;

    font-family: sans-serif;
    /* margin-left: -9%; */
    font-size: 0.5vw;
    text-align: right;
    color: rgb(143, 143, 143);

    width: 180%;
    top: 80%;
    position: absolute;
    right: 7%;
}

.btn_otpr {
    background-color: rgb(51, 123, 186);
    border: 1px solid rgb(42, 100, 150);
    border-radius: 4px;
    color: #ffffff;

    width: 20%;
    height: 3.3vh;
    margin-top: 5%;

    margin-left: 80%;

    font-size: 80%;
}

/*/////КАРТОЧКА/////////////////////////////////////////////////////////////////////////////////*/
/*/////КАРТОЧКА/////////////////////////////////////////////////////////////////////////////////*/
/*/////КАРТОЧКА/////////////////////////////////////////////////////////////////////////////////*/
.cart{
    width: 40vw;
    height:27vw ;
    display: grid;
    grid-template-columns: 42% 54%;

        grid-template-areas:
            "bloc1 bloc2";
}
.cart_info{
    grid-area: bloc1;
background-color:#2b2934;
padding: 0.6vw;

display: flex;
flex-direction: column;

}
.cart_tovar{
    grid-area: bloc2;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 90% 10%;

}

.bloc_img{
    /* background-color: #8d11a3; */
    display: flex;
    align-items: flex-end;
        justify-content: center;
}
.tovar_img{
    width: 90%;
   height: 85%;
}

.bloc_cirkle{
    /* background-color: #dc55f4; */
    display: flex;
        align-items: center;
        justify-content: center;
}
.dot{
    background-color: #efefef;
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    margin-left: 0.3vw;
}
.dot1{
    background-color: #2b2934;
    margin-left: 0vw;
}


/*------------------------------------*/
.info_text1{
    font-family: Helvetica;
font-weight: bold;
text-transform: uppercase;
font-size: 1vw;

margin-top: 0.5vw;
}

.info_text2{
    font-family: "Gothic A1", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
        font-size:0.6vw; 
        color: #676671;

        margin-top: 0.2vw;
}

.info_text3{
    font-family: "Roboto Mono", monospace;
    font-size: 1.3vw;
    margin-top: 0.8vw;
}

.info_text_punct.active{
    color: #ffffff;
}

.info_text_punct{
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6vw;
    color: #6f6d79;
}

._line1{
width: 26%;
}
._line2{
width: 70%;
}
.info_line{
    background-color: #6f6d79;
    height: 0.1vw;
}
.info_line.active{
    background-color: #ffffff;
    height: 0.15vw;
}

.info_text4{
    font-family: Helvetica;
    color: #6f6d79;
    font-size: 0.6vw;
    text-align: left;
    line-height: 0.9vw;

    margin-top: 1vw;
}

.info_text_punct2{
    font-family: Helvetica;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.6vw;
        color: #ffffff;
}
.info_cena2{
    font-family: "Roboto Mono", monospace;
        font-size: 0.8vw;
        color: #6f6d79;
}
.info_add{
    box-sizing: border-box;
        /*  Используйте border-box для корректного расчета размеров */
        border: none;
        outline: none;
        background: none;

    font-family: "Roboto Mono", monospace;
        font-size: 0.9vw;
        color:#ffffff;
        background-color: #2b2934;
        border-radius: 1.3vw;
        border: 1px solid #6f6d79;
        text-transform: uppercase;

        width: 15.5vw;
        height: 2.7vw;    
        
        margin-top: 1.8vw;
}

input[type="radio"] {
    appearance: none}

input[type="radio"] {
    width: 1.2vw;
    height:1.2vw;
  
    border-radius: 50%;
    background: #FFF;     }


        input[type="radio"]:checked {
            background: #2b2934;
            border-color: #cc9;
            border: 0.1vw solid #6f6d79;
            width: 1.6vw;
                height: 1.6vw;
            /* Изменяем цвет границы при выборе */
        }
    
        input[type="radio"]:checked::before {
            background: #2b2934;
            content: '';
            display: block;
            width: 1.2vw;
            height: 1.2vw;
            margin: 0.15vw;
            margin-top: 0.142vw;
            border-radius: 50%;
            background-color: #cc9 ;    }


            .info_minus{
                box-sizing: border-box;
                    /*  Используйте border-box для корректного расчета размеров */
                    border: none;
                    outline: none;
                    background: none;
                
                    font-family: "Roboto Mono", monospace;
                    font-size: 0.9vw;
                    font-family: "Roboto Mono", monospace;
                        font-size: 0.8vw;
                        color: #6f6d79;
                        text-align: center;
                        padding-left: 0.5vw;

                    background-color: #2b2934;

                    border-top-left-radius: 1.3vw;
                    border-bottom-left-radius: 1.3vw;

                    border: 1px solid #6f6d79;
                
                    width: 1.6vw;
                    height:1.6vw;
            }
.info_plus{
    box-sizing: border-box;
        /*  Используйте border-box для корректного расчета размеров */
        border: none;
        outline: none;
        background: none;
    
   
        font-family: "Roboto Mono", monospace;
        font-size: 0.8vw;
        color: #6f6d79;
        text-align: center;
        padding-right: 0.5vw;
    
        background-color: #2b2934;
    
        border-top-right-radius: 1.3vw;
        border-bottom-right-radius: 1.3vw;
    
        border: 1px solid #6f6d79;
    
        width: 1.6vw;
        height: 1.6vw;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.info_schet_1{
    box-sizing: border-box;
        /*  Используйте border-box для корректного расчета размеров */
        border: none;
        outline: none;
        background: none;

        font-family: "Roboto Mono", monospace;
            font-size: 0.8vw;
            color: #ffffff;
            text-align: center;
            align-items: center;
          
         
            border: 1px solid #6f6d79;
            
                width: 1.8vw;
                height: 1.6vw;
}


.info_text_punct_continerrr{
   
    display: flex;
height: 1.2vw;
    margin-top: 1.6vw;
}
.info_line_continerrr{
    display: flex;
    align-items: center;
}

.punct1_{
    margin-left: 0.8vw;
}

.info_text_punct2_continerrr{
    display: flex;

    margin-top: 1.5vw;
}
.punct3_{
    margin-left: 3.5vw; 
}

.info_radio_schet{
    display: flex;
    margin-top: 0.5vw;
}
.info_radio{
    /* background-color: #720d0d; */
    margin-left: -0.4vw;
    display: flex;
    align-items: center;
}

.info_schet{
    margin-left: 2.4vw;
    /* background-color: #720d0d; */
    display: flex;
    align-items: center;
}

.info_text5{
    margin-top: 1.2vw;
}
.info_cena2{
    margin-top: 0.3vw;
}

/* .info_radio_{
background-color: #ffffff;
width: 1.5vw;
    height:1.5vw;
    cursor: pointer;
    accent-color: #cc9;

} */

/* .info_radio_:before{

} */
/*//////////////////////////////////////////////////////////////////////////////////////*/

/* Мобильная версия */
@media (max-width: 768px) {

        
    #main {
        display: grid;
        /* height: 100%; */
        grid-template-columns: auto;
        /* Одна колонка */
        grid-template-rows: auto;
        /* Автоматическая высота */
        grid-template-areas:
            "header"
            "kontent1_1"
            "kontent1_2"
            "kontent2"
            "kontent2_1"
            "kontent2_2"
            "kontent4"
            "footer";
    }

    nav {
        display: none;
        /* Скрыть навигацию */
    }

    #pod_nav {
        display: none;
        /* Скрыть под навигацию */
    }




    /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    .forma {
        /**/
        /* width: 235px; */
        width: 35%;
        padding: 0.5em;
        border-radius: 2px;
        border: 0.5px solid rgb(173, 173, 173);
    }

    .title_form {
        /**/
        font-size: 75%;
    }

    .text1 {
        /**/
        font-size: 55%;
        padding-top: 1.5%;
        padding-bottom: 2.25%;
    }

    .pole_text {
        /**/
        font-size: 50%;
        margin-bottom: -2%;
    }

    .pole_text_ {
        /**/
        margin-top: -4%;
    }

    .name_inp {
        /**/
        border-radius: 2.25px;
        border: 0.5px solid rgb(173, 173, 173);
        font-size: 45%;
        padding: 1%;
        height: 5%;
        margin-top: -4%;
    }

    .email_inp {
        /**/
        border-radius: 2.25px;
        border: 0.5px solid rgb(173, 173, 173);
        font-size: 45%;
        padding: 1%;
        height: 5%;
        margin-top: -4%;
    }

    .soob_inp {
        /**/
        border-radius: 2.25px;
        border: 0.5px solid rgb(173, 173, 173);
        font-size: 45%;
        height: 5vh;
        padding: 1%;
        margin-top: -4%;
    }

    .btn_file {
        /**/
        border: 0.5px solid rgb(53, 149, 75);
        border-radius: 2px;

        font-size: 1.1vw;
        margin-top: 2.25%;
        margin-bottom: 3.5%;


        width: 38%;
        height: 5%;
    }

    .plas {
        /**/
        font-weight: bold;
        font-size: 120%;
        margin-right: 2%;
    }

    .bloc_robo {
        background-color: rgb(247, 247, 247);
        width: 65%;
        height: auto;
        padding-bottom: 2%;
        border-radius: 3px;
        border: 1px solid rgb(173, 173, 173);

        display: grid;

        grid-template-columns: 45% 55%;
        grid-template-rows: 55% 15% 15%;
        column-gap: 0%;
        row-gap: 7%;
        grid-template-areas:
            "ro1 ro2"
            "ro1 ro3"
            "ro1 ro4";

        /* place-items: center; */

        position: relative;
    }

    #robo {
        /***/

        width: 3vw;
        height: 3vw;
        margin-left: 15%;
        margin-top: 30%;
        grid-area: ch1;

    }

    .ch2 {
        /**/
        grid-area: ch2;
        margin-top: 12%;
        width: 150%;
    }

    .text_robo {
        /**/
        /* background-color: #db5b5b; */
        grid-area: ro1;
        margin-top: -1.5%;
        margin-left: 3.5%;

        font-family: sans-serif;

        font-size: 1.5vw;
        text-align: center;
        color: rgb(0, 0, 0);

        display: grid;
        column-gap: 10%;
        grid-template-areas:
            "ch1 ch2";
        align-items: center;
        justify-content: center;


    }

    .styled-image {
        /**/
        grid-area: ro2;

        width: 30%;
        height: 100%;

        margin-left: 50%;
        margin-top: 3%;

    }

    .reC {
        /**/

        grid-area: ro3;

        font-family: sans-serif;
        /* margin-left: 60%; */
        top: 40%;
        font-size: 1.2vw;
        text-align: center;
        color: rgb(143, 143, 143);

        position: absolute;
        right: 7%;
    }

    .konf {
        /**/
        /**/

        grid-area: ro4;

        font-family: sans-serif;
        /* margin-left: -9%; */
        font-size: 0.8vw;
        text-align: right;
        color: rgb(143, 143, 143);

        width: 30vw;
        top: 40%;
        position: absolute;
        right: 7%;
    }



    .btn_otpr {
        /**/
        border: 0.5px solid rgb(42, 100, 150);
        border-radius: 2px;
        font-size: 0.9vw;
        width: 20%;
        height: 1.6vh;
        margin-top: 5%;

        margin-left: 80%;


    }







        /*/////КАРТОЧКА/////////////////////////////////////////////////////////////////////////////////*/
        /*/////КАРТОЧКА/////////////////////////////////////////////////////////////////////////////////*/
        /*/////КАРТОЧКА/////////////////////////////////////////////////////////////////////////////////*/
        .cart {
            background-color: #a6cf2d;
        /* position: absolute; */
            width:auto;
            /* height: 157vw; */
            height: auto;
            display: grid;
            grid-template-columns:auto;
            grid-template-rows: 42% 58%;
    
            grid-template-areas:
                "bloc1 bloc2"
                "bloc1 bloc2";
        }
    
        .cart_info {
            padding: 1.2vw;/**/

        }
    
        .cart_tovar {
            grid-template-rows: 80% 20%;/**/
    
        }
    
    
        .tovar_img {
            width: 90%;
            height: 85%;
        }
    
        .dot {/**/
            width: 2.4vw;
            height: 2.4vw;
            border-radius: 50%;
            margin-left: 0.9vw;
        }
    
    
    
        /*------------------------------------*/
        .info_text1 {/**/
            font-size: 2.4vw;
    
            margin-top: 0.5vw;
        }
    
        .info_text2 {/**/
            font-size: 1.6vw;
    
            margin-top: 0.2vw;
        }
    
        .info_text3 {/**/
            font-size: 2.4vw;
            margin-top: 0.8vw;
        }
    
    
        .info_text_punct {/**/
            font-size: 2vw;
        }
    
        ._line1 {
            width: 30%;
        }
    
        ._line2 {
            width: 63%;
        }
    
        .info_line {/**/
            height: 0.2vw;
        }
    
        .info_line.active {/**/
            height: 0.25vw;
        }
    
        .info_text4 {/**/
            font-size: 1.8vw;
            line-height: 2.8vw;
    
            margin-top: 1vw;
        }
    
        .info_text_punct2 {/**/
            font-size: 2vw;
        }
    
        .info_cena2 {/**/
            font-size: 1.9vw;
        }
    
        .info_add {/**/
            font-size: 1.8vw;
            border-radius: 2.6vw;
    
            width: 47vw;
            height: 5.4vw;
    
            margin-top: 1.8vw;
            margin-left: 3vw;
        }
    
    
        input[type="radio"] {/**/
            width: 2.4vw;
            height: 2.4vw;
            border-radius: 50%;
        }
    
    
        input[type="radio"]:checked {/**/
            border: 0.2vw solid #6f6d79;
            width: 3.3vw;
            height: 3.3vw;
            /* Изменяем цвет границы при выборе */
        }
    
        input[type="radio"]:checked::before {/**/
            width: 2.4vw;
            height: 2.4vw;
            margin: 0.28vw;
            margin-top: 0.27vw;
            border-radius: 50%;
        }
    
    
        .info_minus {/**/
            font-size: 1.6vw;
            padding-left: 1vw;
    
            border-top-left-radius: 2.6vw;
            border-bottom-left-radius: 2.6vw;
    
            width: 3.2vw;
            height: 3.2vw;
        }
    
        .info_plus {/**/
          
            font-size: 1.6vw;
            padding-right: 1vw;
    
            border-top-right-radius: 2.6vw;
            border-bottom-right-radius: 2.6vw;
    
            width: 3.2vw;
            height: 3.2vw;
        }
    
    
        .info_schet_1 {/**/
            font-size: 1.6vw;
            width: 3.6vw;
            height: 3.2vw;
        }
    
    
        .info_text_punct_continerrr {/**/
            height: 2.8vw;
            margin-top: 3.2vw;
        }
 
    
        .punct1_ {/**/
            margin-left: 3.7vw;
        }
    
        .info_text_punct2_continerrr {/**/
            margin-top: 3vw;
        }
    
        .punct3_ {/**/
            margin-left: 11vw;
        }
    
        .info_radio_schet {/**/
            margin-top: 1vw;
        }
    
        .info_radio {/**/
            margin-left: -0.8vw;
        }
    
        .info_schet {/**/
            margin-left: 10.8vw;
        }
    
        .info_text5 {/**/
            margin-top: 2.4vw;
        }
    
        .info_cena2 {/**/
            margin-top: 0.6vw;
            font-size: 2.6vw;
        }
}

/* Планшетная версия */
@media (min-width: 769px) and (max-width: 1024px) {
    #kontent2 {
            display: none;
        }
    
        #kontent4 {
            display: none;
        }
    #main {
        grid-template-areas:
            "header header header"
            "nav kontent1_1 kontent1_2"
            "nav kontent1_1 kontent1_2"
            "pod_nav kontent2_1 kontent2_2"
            "pod_nav kontent2_1 kontent2_2"
            "footer footer footer";
    }



    /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    .forma {
        width: 85%;
        padding: 0.7em;
        border-radius: 2px;
        border: 0.5px solid rgb(173, 173, 173);
    }

    .title_form {
        /**/
        font-size: 95%;
    }

    .text1 {
        /**/
        font-size: 75%;
        padding-top: 2.5%;
        padding-bottom: 4.25%;
    }

    .pole_text {
        /**/
        font-size: 70%;
        margin-bottom: -1%;
    }

    .pole_text_ {
        /**/

        margin-top: -4%;
    }

    .name_inp {
        /**/
        border-radius: 2.25px;
        border: 0.7px solid rgb(173, 173, 173);
        font-size: 65%;
        padding: 2%;
        height: 5%;
        margin-top: -4%;
    }

    .email_inp {
        /**/
        border-radius: 2.25px;
        border: 0.7px solid rgb(173, 173, 173);
        font-size: 65%;
        padding: 2%;
        height: 5%;
        margin-top: -4%;
    }

    .soob_inp {
        /**/
        border-radius: 2.25px;
        border: 0.7px solid rgb(173, 173, 173);
        font-size: 65%;
        padding: 2%;
        height: 6vh;
        margin-top: -4%;
    }

    .btn_file {
        /**/
        border: 0.5px solid rgb(53, 149, 75);
        border-radius: 2px;

        font-size: 0.8vw;
        margin-top: 2.25%;
        margin-bottom: 3.5%;


        width: 36%;
        height: 4%;
    }

    .plas {
        /**/
        font-weight: bold;
        font-size: 120%;
        margin-right: 2%;
    }

    .bloc_robo {
        background-color: rgb(247, 247, 247);
        width: 65%;
        height: auto;
        padding-bottom: 2%;
        border-radius: 3px;
        border: 1px solid rgb(173, 173, 173);

        display: grid;

        grid-template-columns: 45% 55%;
        grid-template-rows: 55% 15% 15%;
        column-gap: 0%;
        row-gap: 7%;
        grid-template-areas:
            "ro1 ro2"
            "ro1 ro3"
            "ro1 ro4";

        /* place-items: center; */

        position: relative;
    }

    #robo {
        /***/

        width: 2.2vw;
        height: 2.2vw;
        margin-left: -5%;
        margin-top: 30%;
        grid-area: ch1;

    }

    .ch2 {
        /**/
        grid-area: ch2;
        margin-top: 12%;
        width: 180%;
        margin-left: -1.2vw;
    }

    .text_robo {
        /**/
        /* background-color: #db5b5b; */
        grid-area: ro1;
        margin-top: -1.5%;
        margin-left: 3.5%;

        font-family: sans-serif;

        font-size: 1vw;
        text-align: center;
        color: rgb(0, 0, 0);

        display: grid;
        column-gap: 10%;
        grid-template-areas:
            "ch1 ch2";
        align-items: center;
        justify-content: center;


    }

    .styled-image {
        /**/
        grid-area: ro2;

        width: 25%;
        height: 100%;

        margin-left: 58%;
        margin-top: 3%;

    }

    .reC {
        /**/

        grid-area: ro3;

        font-family: sans-serif;
        /* margin-left: 60%; */
        top: 40%;
        font-size: 0.8vw;
        text-align: center;
        color: rgb(143, 143, 143);

        position: absolute;
        right: 12%;
    }

    .konf {
        /**/
        /**/

        grid-area: ro4;

        font-family: sans-serif;
        /* margin-left: -9%; */
        font-size: 0.6vw;
        text-align: right;
        color: rgb(143, 143, 143);

        width: 30vw;
        top: 40%;
        position: absolute;
        right: 12%;
    }



    .btn_otpr {
        /**/
        border: 0.5px solid rgb(42, 100, 150);
        border-radius: 2px;
        font-size: 0.9vw;
        width: 20%;
        height: 1.6vh;
        margin-top: 5%;

        margin-left: 80%;


    }
}